<div class="row p-0 m-0" id="view-home">

  <div class="col-md-8 mx-auto text-center">
    <img src="../public/image.png" style="width: 450px" class="animate__animated animate__zoomInDown">

    <div style="text-align: left;" class="text-dark">
      Puedes visitar <a href="#/roads">caminos</a> para conocer la ruta a tu lugar de destino.
      <br>
      <br>

      También puedes visitar <a href="#/graphs">grafos</a> para acceder a todas las rutas de las distintas líneas, por
      separado.
      <br>
      <br>

      En <a href="#/map">ver mapa<a> encontrarás una imágen de las rutas en general.
    </div>
  </div>
</div>